<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "Flow RSS",
  "description": "{{ (.Site.Params.description | default .Site.Title) | htmlEscape }}",
  "applicationCategory": "NewsApplication",
  "operatingSystem": "Android",
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "USD"
  },
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.authorName | htmlEscape }}",
    "url": "{{ .Site.Params.authorURL }}"
  },
  "publisher": {
    "@id": "{{ .Site.BaseURL }}#organization"
  },
  "url": "{{ .Site.BaseURL }}",
  "downloadUrl": "{{ .Site.BaseURL }}#platforms",
  "screenshot": "{{ .Site.BaseURL }}images/screenshots/android-feed.webp",
  "softwareVersion": "latest",
  "inLanguage": "en"
}
</script>
